
<h2>New Student</h2>

<!--<div class="avatar" *ngIf="selectedStudent.id !== -1">
  <img *ngIf="selectedStudent.profileImage" [src]="selectedStudent.profileImage" alt="Profile Image" class="rounded-image">
  <div *ngIf="!selectedStudent.profileImage" class="initials">{{ getInitials(selectedStudent.firstName + ' ' + selectedStudent.lastName) }}</div>
</div>-->
<div>



  <div>
    <label>First Name: <input type="text" [(ngModel)]="newStudent.firstName" /></label>
  </div>
  <div>
    <label>Last Name: <input type="text" [(ngModel)]="newStudent.lastName" /></label>
  </div>
  <div>
    <label>Mobile: <input type="text" [(ngModel)]="newStudent.mobile" /></label>
  </div>
  <div>
    <label>Email: <input type="text" [(ngModel)]="newStudent.email" /></label>
  </div>
  <div>
    <label>NIC: <input type="text" [(ngModel)]="newStudent.nic" /></label>
  </div>
  <div>
    <label>Date of Birth: <input type="date" [(ngModel)]="newStudent.dateOfBirth" /></label>
  </div>
  <div>
    <label>Address: <input type="text" [(ngModel)]="newStudent.address" /></label>
  </div>
</div>
