<h1 id="tableLabel">Student List</h1>

<p>This component demonstrates fetching data from the server.</p>
<div>
   <!--<input type="text" [(ngModel)]="searchQuery" placeholder="Search students..." (input)="getStudents()" /> {% endcomment %}-->
   <input type="text" [(ngModel)]="searchQuery" placeholder="Search students..." />
   <button (click)="getStudents()">Search</button>
</div>



<div class="container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th (click)="sort('FirstName')">First Name</th>
          <th (click)="sort('LastName')">Last Name</th>
          <th (click)="sort('Mobile')">Mobile</th>
          <th (click)="sort('Email')">Email</th>
          <th (click)="sort('NIC')">NIC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" (click)="getStudentDetails(student.id)" [class.selected]="selectedStudent?.id === student.id">
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.mobile }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.nic }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-detailed *ngIf="selectedStudent" [selectedStudent]="selectedStudent"></app-detailed>
  <app-newstudent *ngIf="!selectedStudent"></app-newstudent>

</div>
